# I. Import Libraries

Let's start by reading the file to understand its structure and content. This will help in providing an overview of the data you mentioned. I'll read the file and display the first few rows to get a sense of the data.

The dataset contains information on the betting activity of individual customers for specific days. Here's an overview of the columns and their potential meanings:

- `DATE_DIM`: The date of the betting activity.
- `DAY_OF_WEEK`: The day of the week for the betting activity.
- `BET_ACCOUNT_NUM_HASH`: A unique identifier for each customer.
- `AGE`: The age of the customer.
- `AGE_BAND`: The age band or range the customer falls into.
- `GENDER`: The gender of the customer.
- `TENURE_IN_DAYS`: How long the customer has been with the service, in days.
- `RESIDENTIAL_STATE`: The state of residence of the customer.
- `FOB_RACING_TURNOVER`: Turnover from fixed odds betting on racing.
- `FOB_SPORT_TURNOVER`: Turnover from fixed odds betting on sports.
- `PARI_RACING_TURNOVER`: Turnover from pari-mutuel betting on racing.
- `PARI_SPORT_TURNOVER`: Turnover from pari-mutuel betting on sports.
- `TOTAL_TURNOVER`: The total betting turnover for the customer on that day.
- `DIVIDENDS_PAID`: The total dividends paid out to the customer on that day.
- `GROSS_MARGIN`: The gross margin from the customer's betting activity.
- `TICKETS`: The number of betting tickets or bets placed by the customer on that day.

The data seems well-structured for analysis, offering a comprehensive view of daily betting activities alongside demographic information about the customers. This dataset can be used to perform descriptive, diagnostic, predictive, and prescriptive analyses as outlined in your project guidelines, aiming to forecast future turnover based on historical wagering transactions and to optimize strategic decisions for WA TAB.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# II. Import & Overview Dataset

## 2.1 Import Dataset

In [2]:
df_origin = pd.read_csv(r"D:\Data\TAB_Betting_Data.csv")
df = df_origin.copy()

## 2.2 Overview the Data

In [3]:
df.head()

,DATE_DIM,DAY_OF_WEEK,BET_ACCOUNT_NUM_HASH,AGE,AGE_BAND,GENDER,TENURE_IN_DAYS,RESIDENTIAL_STATE,FOB_RACING_TURNOVER,FOB_SPORT_TURNOVER,PARI_RACING_TURNOVER,PARI_SPORT_TURNOVER,TOTAL_TURNOVER,DIVIDENDS_PAID,GROSS_MARGIN,TICKETS
0,2021-01-01,Fri,13154,67.0,65+,M,11846,WA,37.0,NaN,1081.0,NaN,1118.0,443.55,271.254275,288
1,2021-01-01,Fri,18379,54.0,45-54,M,1884,WA,40.0,NaN,NaN,NaN,40.0,0.00,40.000000,1
2,2021-01-01,Fri,559232,63.0,55-64,M,2866,WA,NaN,NaN,12.0,NaN,12.0,9.50,2.041720,5
3,2021-01-01,Fri,698904,69.0,65+,M,2100,WA,NaN,NaN,1223.5,NaN,1223.5,267.91,245.117147,40
4,2021-01-01,Fri,762921,67.0,65+,M,4766,WA,NaN,NaN,17.5,NaN,17.5,0.00,3.504075,5

In [4]:
import pandas as pd

# Trích xuất 2.000.000 dòng đầu tiên bằng cách sử dụng hàm loc
first_2_million_rows = df.loc[:999999]

# Lưu 2.000.000 dòng đầu tiên vào một tập tin CSV mới
output_file = "mau.csv"  # Đường dẫn đến tập tin đầu ra
first_2_million_rows.to_csv(output_file, index=False)

print("Successfully extracted the first 2,000,000 rows to", output_file)

Successfully extracted the first 2,000,000 rows to mau.csv

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12364101 entries, 0 to 12364100
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   DATE_DIM              object
 1   DAY_OF_WEEK           object
 2   BET_ACCOUNT_NUM_HASH  int64
 3   AGE                   float64
 4   AGE_BAND              object
 5   GENDER                object
 6   TENURE_IN_DAYS        int64
 7   RESIDENTIAL_STATE     object
 8   FOB_RACING_TURNOVER   float64
 9   FOB_SPORT_TURNOVER    float64
 10  PARI_RACING_TURNOVER  float64
 11  PARI_SPORT_TURNOVER   float64
 12  TOTAL_TURNOVER        float64
 13  DIVIDENDS_PAID        float64
 14  GROSS_MARGIN          float64
 15  TICKETS               int64
dtypes: float64(8), int64(3), object(5)
memory usage: 1.5+ GB

In [6]:
df.describe()

,BET_ACCOUNT_NUM_HASH,AGE,TENURE_IN_DAYS,FOB_RACING_TURNOVER,FOB_SPORT_TURNOVER,PARI_RACING_TURNOVER,PARI_SPORT_TURNOVER,TOTAL_TURNOVER,DIVIDENDS_PAID,GROSS_MARGIN,TICKETS
count,1.236410e+07,1.236142e+07,1.236410e+07,8.576656e+06,1.779580e+06,8.527489e+06,15678.000000,1.236410e+07,1.236410e+07,1.236410e+07,1.236410e+07
mean,2.144468e+09,5.314939e+01,3.437851e+03,1.235937e+02,1.278436e+02,1.063339e+02,37.800517,1.775206e+02,1.467335e+02,2.771342e+01,2.212268e+01
std,1.240403e+09,1.536221e+01,3.416204e+03,5.274644e+02,7.873640e+02,3.022158e+02,91.525587,6.407664e+02,6.863462e+02,2.300061e+02,6.451099e+01
min,1.315400e+04,1.800000e+01,-1.000000e+00,-1.000000e+03,-5.500000e+02,0.000000e+00,0.000000,-1.000000e+03,-2.550000e+03,-1.123050e+05,1.000000e+00
25%,1.067720e+09,4.100000e+01,9.550000e+02,1.000000e+01,1.000000e+01,1.000000e+01,4.000000,1.600000e+01,0.000000e+00,1.888508e+00,2.000000e+00
50%,2.151297e+09,5.400000e+01,2.316000e+03,3.000000e+01,2.300000e+01,3.000000e+01,11.000000,5.000000e+01,1.435000e+01,1.099573e+01,7.000000e+00
75%,3.217306e+09,6.500000e+01,4.708000e+03,9.000000e+01,7.200000e+01,9.575000e+01,32.000000,1.450000e+02,9.561000e+01,4.000000e+01,2.000000e+01
max,4.294965e+09,1.040000e+02,2.132900e+04,2.267710e+05,1.987243e+05,2.482320e+05,2368.000000,2.648910e+05,4.137750e+05,8.088635e+04,1.911400e+04

In [7]:
# Find the range of dates in the DATE_DIM column
date_min = df['DATE_DIM'].min()
date_max = df['DATE_DIM'].max()

date_min, date_max

('2021-01-01', '2022-12-31')

- Data range in 2 years (2021,2022)

## 2.3 Checking & Dealing with Null Values

In [8]:
# Check for null values and duplicated rows
null_values = df.isnull().sum()
null_values

DATE_DIM                       0
DAY_OF_WEEK                    0
BET_ACCOUNT_NUM_HASH           0
AGE                         2676
AGE_BAND                       0
GENDER                         0
TENURE_IN_DAYS                 0
RESIDENTIAL_STATE              0
FOB_RACING_TURNOVER      3787445
FOB_SPORT_TURNOVER      10584521
PARI_RACING_TURNOVER     3836612
PARI_SPORT_TURNOVER     12348423
TOTAL_TURNOVER                 0
DIVIDENDS_PAID                 0
GROSS_MARGIN                   0
TICKETS                        0
dtype: int64

**Null Values appear in some column**
- AGE: Since age is an important demographic attribute, we might not want to discard rows with missing ages without further analysis. One approach could be to fill in the missing values with the median age, assuming age is typically a well-behaved attribute with a central tendency.
- Betting Turnover Columns (FOB_RACING_TURNOVER, FOB_SPORT_TURNOVER, PARI_RACING_TURNOVER, PARI_SPORT_TURNOVER): For turnover columns, null values likely indicate that the customer did not place bets in those categories for the day. It would be reasonable to fill these null values with 0, indicating no activity.

In [9]:
# Fill AGE null values with the median age
df['AGE'].fillna(df['AGE'].median(), inplace=True)

# Fill betting turnover columns' null values with 0
betting_turnover_columns = ['FOB_RACING_TURNOVER', 'FOB_SPORT_TURNOVER', 'PARI_RACING_TURNOVER', 'PARI_SPORT_TURNOVER']
df[betting_turnover_columns] = df[betting_turnover_columns].fillna(0)

In [10]:
# Re-check for null values to confirm changes
null_values_after = df.isnull().sum()
null_values_after

DATE_DIM                0
DAY_OF_WEEK             0
BET_ACCOUNT_NUM_HASH    0
AGE                     0
AGE_BAND                0
GENDER                  0
TENURE_IN_DAYS          0
RESIDENTIAL_STATE       0
FOB_RACING_TURNOVER     0
FOB_SPORT_TURNOVER      0
PARI_RACING_TURNOVER    0
PARI_SPORT_TURNOVER     0
TOTAL_TURNOVER          0
DIVIDENDS_PAID          0
GROSS_MARGIN            0
TICKETS                 0
dtype: int64

- No null left

## 2.4 Checking & Dealing with duplicated rows

In [11]:
duplicated_rows = df.duplicated().sum()
duplicated_rows

0

- No duplicated rows founf in this dataset. Luckily!

## 2.5 Checking Unique Per Columns

In [12]:
for column in df.columns:
    print(f"Unique values in '{column}':")
    print(df[column].unique())
    print("\n")

Unique values in 'DATE_DIM':
['2021-01-01' '2021-01-02' '2021-01-03' '2021-01-04' '2021-01-05'
 '2021-01-06' '2021-01-07' '2021-01-08' '2021-01-09' '2021-01-10'
 '2021-01-11' '2021-01-12' '2021-01-13' '2021-01-14' '2021-01-15'
 '2021-01-16' '2021-01-17' '2021-01-18' '2021-01-19' '2021-01-20'
 '2021-01-21' '2021-01-22' '2021-01-23' '2021-01-24' '2021-01-25'
 '2021-01-26' '2021-01-27' '2021-01-28' '2021-01-29' '2021-01-30'
 '2021-01-31' '2021-02-01' '2021-02-02' '2021-02-03' '2021-02-04'
 '2021-02-05' '2021-02-06' '2021-02-07' '2021-02-08' '2021-02-09'
 '2021-02-10' '2021-02-11' '2021-02-12' '2021-02-13' '2021-02-14'
 '2021-02-15' '2021-02-16' '2021-02-17' '2021-02-18' '2021-02-19'
 '2021-02-20' '2021-02-21' '2021-02-22' '2021-02-23' '2021-02-24'
 '2021-02-25' '2021-02-26' '2021-02-27' '2021-02-28' '2021-03-01'
 '2021-03-02' '2021-03-03' '2021-03-04' '2021-03-05' '2021-03-06'
 '2021-03-07' '2021-03-08' '2021-03-09' '2021-03-10' '2021-03-11'
 '2021-03-12' '2021-03-13' '2021-03-14' '2021-03-15' '2021-03-16'
 '2021-03-17' '2021-03-18' '2021-03-19' '2021-03-20' '2021-03-21'
 '2021-03-22' '2021-03-23' '2021-03-24' '2021-03-25' '2021-03-26'
 '2021-03-27' '2021-03-28' '2021-03-29' '2021-03-30' '2021-03-31'
 '2021-04-01' '2021-04-02' '2021-04-03' '2021-04-04' '2021-04-05'
 '2021-04-06' '2021-04-07' '2021-04-08' '2021-04-09' '2021-04-10'
 '2021-04-11' '2021-04-12' '2021-04-13' '2021-04-14' '2021-04-15'
 '2021-04-16' '2021-04-17' '2021-04-18' '2021-04-19' '2021-04-20'
 '2021-04-21' '2021-04-22' '2021-04-23' '2021-04-24' '2021-04-25'
 '2021-04-26' '2021-04-27' '2021-04-28' '2021-04-29' '2021-04-30'
 '2021-05-01' '2021-05-02' '2021-05-03' '2021-05-04' '2021-05-05'
 '2021-05-06' '2021-05-07' '2021-05-08' '2021-05-09' '2021-05-10'
 '2021-05-11' '2021-05-12' '2021-05-13' '2021-05-14' '2021-05-15'
 '2021-05-16' '2021-05-17' '2021-05-18' '2021-05-19' '2021-05-20'
 '2021-05-21' '2021-05-22' '2021-05-23' '2021-05-24' '2021-05-25'
 '2021-05-26' '2021-05-27' '2021-05-28' '2021-05-29' '2021-05-30'
 '2021-05-31' '2021-06-01' '2021-06-02' '2021-06-03' '2021-06-04'
 '2021-06-05' '2021-06-06' '2021-06-07' '2021-06-08' '2021-06-09'
 '2021-06-10' '2021-06-11' '2021-06-12' '2021-06-13' '2021-06-14'
 '2021-06-15' '2021-06-16' '2021-06-17' '2021-06-18' '2021-06-19'
 '2021-06-20' '2021-06-21' '2021-06-22' '2021-06-23' '2021-06-24'
 '2021-06-25' '2021-06-26' '2021-06-27' '2021-06-28' '2021-06-29'
 '2021-06-30' '2021-07-01' '2021-07-02' '2021-07-03' '2021-07-04'
 '2021-07-05' '2021-07-06' '2021-07-07' '2021-07-08' '2021-07-09'
 '2021-07-10' '2021-07-11' '2021-07-12' '2021-07-13' '2021-07-14'
 '2021-07-15' '2021-07-16' '2021-07-17' '2021-07-18' '2021-07-19'
 '2021-07-20' '2021-07-21' '2021-07-22' '2021-07-23' '2021-07-24'
 '2021-07-25' '2021-07-26' '2021-07-27' '2021-07-28' '2021-07-29'
 '2021-07-30' '2021-07-31' '2021-08-01' '2021-08-02' '2021-08-03'
 '2021-08-04' '2021-08-05' '2021-08-06' '2021-08-07' '2021-08-08'
 '2021-08-09' '2021-08-10' '2021-08-11' '2021-08-12' '2021-08-13'
 '2021-08-14' '2021-08-15' '2021-08-16' '2021-08-17' '2021-08-18'
 '2021-08-19' '2021-08-20' '2021-08-21' '2021-08-22' '2021-08-23'
 '2021-08-24' '2021-08-25' '2021-08-26' '2021-08-27' '2021-08-28'
 '2021-08-29' '2021-08-30' '2021-08-31' '2021-09-01' '2021-09-02'
 '2021-09-03' '2021-09-04' '2021-09-05' '2021-09-06' '2021-09-07'
 '2021-09-08' '2021-09-09' '2021-09-10' '2021-09-11' '2021-09-12'
 '2021-09-13' '2021-09-14' '2021-09-15' '2021-09-16' '2021-09-17'
 '2021-09-18' '2021-09-19' '2021-09-20' '2021-09-21' '2021-09-22'
 '2021-09-23' '2021-09-24' '2021-09-25' '2021-09-26' '2021-09-27'
 '2021-09-28' '2021-09-29' '2021-09-30' '2021-10-01' '2021-10-02'
 '2021-10-03' '2021-10-04' '2021-10-05' '2021-10-06' '2021-10-07'
 '2021-10-08' '2021-10-09' '2021-10-10' '2021-10-11' '2021-10-12'
 '2021-10-13' '2021-10-14' '2021-10-15' '2021-10-16' '2021-10-17'
 '2021-10-18' '2021-10-19' '2021-10-20' '2021-10-21' '2021-10-22'
 '2021-10-23' '2021-10-24' '2021-10-25' '2021-10-26' '2021-10-27'
 '2021-10-28' '2021-10-29' '2021-10-30' '2021-10-31' '2021-11-01'
 '2021-11-02' '2021-11-03' '2021-11-04' '2021-11-05' '2021-11-06'
 '2021-11-07' '2021-11-08' '2021-11-09' '2021-11-10' '2021-11-11'
 '2021-11-12' '2021-11-13' '2021-11-14' '2021-11-15' '2021-11-16'
 '2021-11-17' '2021-11-18' '2021-11-19' '2021-11-20' '2021-11-21'
 '2021-11-22' '2021-11-23' '2021-11-24' '2021-11-25' '2021-11-26'
 '2021-11-27' '2021-11-28' '2021-11-29' '2021-11-30' '2021-12-01'
 '2021-12-02' '2021-12-03' '2021-12-04' '2021-12-05' '2021-12-06'
 '2021-12-07' '2021-12-08' '2021-12-09' '2021-12-10' '2021-12-11'
 '2021-12-12' '2021-12-13' '2021-12-14' '2021-12-15' '2021-12-16'
 '2021-12-17' '2021-12-18' '2021-12-19' '2021-12-20' '2021-12-21'
 '2021-12-22' '2021-12-23' '2021-12-24' '2021-12-25' '2021-12-26'
 '2021-12-27' '2021-12-28' '2021-12-29' '2021-12-30' '2021-12-31'
 '2022-01-01' '2022-01-02' '2022-01-03' '2022-01-04' '2022-01-05'
 '2022-01-06' '2022-01-07' '2022-01-08' '2022-01-09' '2022-01-10'
 '2022-01-11' '2022-01-12' '2022-01-13' '2022-01-14' '2022-01-15'
 '2022-01-16' '2022-01-17' '2022-01-18' '2022-01-19' '2022-01-20'
 '2022-01-21' '2022-01-22' '2022-01-23' '2022-01-24' '2022-01-25'
 '2022-01-26' '2022-01-27' '2022-01-28' '2022-01-29' '2022-01-30'
 '2022-01-31' '2022-02-01' '2022-02-02' '2022-02-03' '2022-02-04'
 '2022-02-05' '2022-02-06' '2022-02-07' '2022-02-08' '2022-02-09'
 '2022-02-10' '2022-02-11' '2022-02-12' '2022-02-13' '2022-02-14'
 '2022-02-15' '2022-02-16' '2022-02-17' '2022-02-18' '2022-02-19'
 '2022-02-20' '2022-02-21' '2022-02-22' '2022-02-23' '2022-02-24'
 '2022-02-25' '2022-02-26' '2022-02-27' '2022-02-28' '2022-03-01'
 '2022-03-02' '2022-03-03' '2022-03-04' '2022-03-05' '2022-03-06'
 '2022-03-07' '2022-03-08' '2022-03-09' '2022-03-10' '2022-03-11'
 '2022-03-12' '2022-03-13' '2022-03-14' '2022-03-15' '2022-03-16'
 '2022-03-17' '2022-03-18' '2022-03-19' '2022-03-20' '2022-03-21'
 '2022-03-22' '2022-03-23' '2022-03-24' '2022-03-25' '2022-03-26'
 '2022-03-27' '2022-03-28' '2022-03-29' '2022-03-30' '2022-03-31'
 '2022-04-01' '2022-04-02' '2022-04-03' '2022-04-04' '2022-04-05'
 '2022-04-06' '2022-04-07' '2022-04-08' '2022-04-09' '2022-04-10'
 '2022-04-11' '2022-04-12' '2022-04-13' '2022-04-14' '2022-04-15'
 '2022-04-16' '2022-04-17' '2022-04-18' '2022-04-19' '2022-04-20'
 '2022-04-21' '2022-04-22' '2022-04-23' '2022-04-24' '2022-04-25'
 '2022-04-26' '2022-04-27' '2022-04-28' '2022-04-29' '2022-04-30'
 '2022-05-01' '2022-05-02' '2022-05-03' '2022-05-04' '2022-05-05'
 '2022-05-06' '2022-05-07' '2022-05-08' '2022-05-09' '2022-05-10'
 '2022-05-11' '2022-05-12' '2022-05-13' '2022-05-14' '2022-05-15'
 '2022-05-16' '2022-05-17' '2022-05-18' '2022-05-19' '2022-05-20'
 '2022-05-21' '2022-05-22' '2022-05-23' '2022-05-24' '2022-05-25'
 '2022-05-26' '2022-05-27' '2022-05-28' '2022-05-29' '2022-05-30'
 '2022-05-31' '2022-06-01' '2022-06-02' '2022-06-03' '2022-06-04'
 '2022-06-05' '2022-06-06' '2022-06-07' '2022-06-08' '2022-06-09'
 '2022-06-10' '2022-06-11' '2022-06-12' '2022-06-13' '2022-06-14'
 '2022-06-15' '2022-06-16' '2022-06-17' '2022-06-18' '2022-06-19'
 '2022-06-20' '2022-06-21' '2022-06-22' '2022-06-23' '2022-06-24'
 '2022-06-25' '2022-06-26' '2022-06-27' '2022-06-28' '2022-06-29'
 '2022-06-30' '2022-07-01' '2022-07-02' '2022-07-03' '2022-07-04'
 '2022-07-05' '2022-07-06' '2022-07-07' '2022-07-08' '2022-07-09'
 '2022-07-10' '2022-07-11' '2022-07-12' '2022-07-13' '2022-07-14'
 '2022-07-15' '2022-07-16' '2022-07-17' '2022-07-18' '2022-07-19'
 '2022-07-20' '2022-07-21' '2022-07-22' '2022-07-23' '2022-07-24'
 '2022-07-25' '2022-07-26' '2022-07-27' '2022-07-28' '2022-07-29'
 '2022-07-30' '2022-07-31' '2022-08-01' '2022-08-02' '2022-08-03'
 '2022-08-04' '2022-08-05' '2022-08-06' '2022-08-07' '2022-08-08'
 '2022-08-09' '2022-08-10' '2022-08-11' '2022-08-12' '2022-08-13'
 '2022-08-14' '2022-08-15' '2022-08-16' '2022-08-17' '2022-08-18'
 '2022-08-19' '2022-08-20' '2022-08-21' '2022-08-22' '2022-08-23'
 '2022-08-24' '2022-08-25' '2022-08-26' '2022-08-27' '2022-08-28'
 '2022-08-29' '2022-08-30' '2022-08-31' '2022-09-01' '2022-09-02'
 '2022-09-03' '2022-09-04' '2022-09-05' '2022-09-06' '2022-09-07'
 '2022-09-08' '2022-09-09' '2022-09-10' '2022-09-11' '2022-09-12'
 '2022-09-13' '2022-09-14' '2022-09-15' '2022-09-16' '2022-09-17'
 '2022-09-18' '2022-09-19' '2022-09-20' '2022-09-21' '2022-09-22'
 '2022-09-23' '2022-09-24' '2022-09-25' '2022-09-26' '2022-09-27'
 '2022-09-28' '2022-09-29' '2022-09-30' '2022-10-01' '2022-10-02'
 '2022-10-03' '2022-10-04' '2022-10-05' '2022-10-06' '2022-10-07'
 '2022-10-08' '2022-10-09' '2022-10-10' '2022-10-11' '2022-10-12'
 '2022-10-13' '2022-10-14' '2022-10-15' '2022-10-16' '2022-10-17'
 '2022-10-18' '2022-10-19' '2022-10-20' '2022-10-21' '2022-10-22'
 '2022-10-23' '2022-10-24' '2022-10-25' '2022-10-26' '2022-10-27'
 '2022-10-28' '2022-10-29' '2022-10-30' '2022-10-31' '2022-11-01'
 '2022-11-02' '2022-11-03' '2022-11-04' '2022-11-05' '2022-11-06'
 '2022-11-07' '2022-11-08' '2022-11-09' '2022-11-10' '2022-11-11'
 '2022-11-12' '2022-11-13' '2022-11-14' '2022-11-15' '2022-11-16'
 '2022-11-17' '2022-11-18' '2022-11-19' '2022-11-20' '2022-11-21'
 '2022-11-22' '2022-11-23' '2022-11-24' '2022-11-25' '2022-11-26'
 '2022-11-27' '2022-11-28' '2022-11-29' '2022-11-30' '2022-12-01'
 '2022-12-02' '2022-12-03' '2022-12-04' '2022-12-05' '2022-12-06'
 '2022-12-07' '2022-12-08' '2022-12-09' '2022-12-10' '2022-12-11'
 '2022-12-12' '2022-12-13' '2022-12-14' '2022-12-15' '2022-12-16'
 '2022-12-17' '2022-12-18' '2022-12-19' '2022-12-20' '2022-12-21'
 '2022-12-22' '2022-12-23' '2022-12-24' '2022-12-25' '2022-12-26'
 '2022-12-27' '2022-12-28' '2022-12-29' '2022-12-30' '2022-12-31']


Unique values in 'DAY_OF_WEEK':
['Fri' 'Sat' 'Sun' 'Mon' 'Tue' 'Wed' 'Thu']


Unique values in 'BET_ACCOUNT_NUM_HASH':
[     13154      18379     559232 ... 4245765385 4289621869 4291211668]


Unique values in 'AGE':
[ 67.  54.  63.  69.  46.  76.  64.  55.  70.  30.  34.  41.  81.  65.
  52.  68.  77.  50.  49.  74.  61.  58.  79.  35.  37.  87.  62.  48.
  71.  38.  39.  28.  72.  36.  32.  21.  43.  60.  47.  80.  29.  40.
  51.  59.  88.  42.  53.  31.  24.  66.  56.  57.  27.  73.  23.  45.
  75.  44.  85.  26.  33.  82.  78.  20.  84.  83.  22.  25.  93.  98.
  86.  90.  89.  91.  92.  96.  19. 104.  97.  95. 102. 101. 100.  94.
 103.  18.]


Unique values in 'AGE_BAND':
['65+' '45-54' '55-64' '25-34' '35-44' '18-24' 'Unknown']


Unique values in 'GENDER':
['M' 'F' 'U']


Unique values in 'TENURE_IN_DAYS':
[11846  1884  2866 ... 19155 21329 19999]


Unique values in 'RESIDENTIAL_STATE':
['WA' 'OTH']


Unique values in 'FOB_RACING_TURNOVER':
[   37.    40.     0. ... 19067.  7505. 18950.]


Unique values in 'FOB_SPORT_TURNOVER':
[  0.    68.   100.   ... 522.33 965.46 220.86]


Unique values in 'PARI_RACING_TURNOVER':
[1081.      0.     12.   ...  937.77  350.15 1005.36]


Unique values in 'PARI_SPORT_TURNOVER':
[0.000e+00 1.000e+00 2.500e+00 5.000e-01 2.000e+00 4.000e+00 4.800e+01
 6.400e+01 5.000e+00 5.000e+01 1.500e+00 1.200e+01 2.400e+01 3.600e+01
 2.700e+01 3.000e+00 8.000e+00 1.000e+01 1.500e+01 4.500e+00 3.500e+00
 1.600e+01 2.600e+01 1.100e+01 1.800e+01 2.000e+01 1.050e+01 6.000e+00
 5.200e+01 3.900e+01 8.500e+00 9.000e+00 4.050e+01 7.200e+01 2.300e+01
 7.000e+00 1.000e+02 1.400e+01 4.500e+01 1.620e+02 6.900e+01 3.200e+01
 4.000e+01 4.320e+02 1.950e+02 6.000e+01 1.250e+01 7.290e+02 1.960e+02
 1.440e+02 4.950e+01 5.000e+02 1.900e+01 8.000e+01 1.280e+02 1.300e+01
 1.900e+02 2.150e+02 5.500e+00 2.200e+01 3.300e+01 3.000e+02 2.910e+02
 7.000e+01 7.300e+01 3.000e+01 4.400e+01 1.195e+02 6.500e+01 2.500e+01
 1.700e+01 9.600e+01 2.100e+01 9.200e+01 2.150e+01 1.150e+01 7.850e+01
 1.320e+02 4.650e+02 3.500e+01 1.850e+01 2.560e+02 8.200e+01 2.650e+01
 1.200e+02 8.500e+01 5.400e+01 3.450e+01 1.100e+02 7.900e+01 1.750e+02
 3.170e+02 1.300e+02 5.300e+01 9.700e+01 3.800e+01 1.760e+02 4.700e+01
 1.120e+02 9.800e+01 1.920e+02 9.500e+00 5.560e+02 4.200e+01 2.850e+01
 6.500e+00 1.650e+01 6.450e+01 2.450e+01 5.700e+01 5.500e+01 1.950e+01
 1.500e+02 1.345e+02 2.950e+01 1.005e+02 7.400e+01 5.600e+01 1.550e+02
 3.500e+02 3.550e+01 1.650e+02 3.750e+02 2.750e+01 6.300e+01 2.170e+02
 1.450e+02 3.100e+01 1.135e+02 8.400e+01 4.300e+01 7.250e+01 9.850e+01
 8.800e+01 4.160e+02 7.800e+01 1.430e+02 8.600e+01 4.760e+02 6.700e+01
 5.800e+02 5.120e+02 1.750e+01 1.050e+02 6.400e+02 8.050e+01 6.200e+01
 3.700e+01 1.350e+01 1.550e+01 9.500e+01 9.000e+01 2.800e+01 1.880e+02
 3.400e+01 3.600e+02 2.040e+02 1.035e+02 1.105e+02 1.405e+02 1.360e+02
 3.850e+01 1.080e+02 2.880e+02 2.250e+01 4.305e+02 3.840e+02 3.200e+02
 8.900e+01 4.750e+01 2.900e+01 1.700e+02 2.620e+02 1.845e+02 2.630e+02
 5.350e+01 7.150e+01 1.040e+02 4.100e+01 6.800e+01 5.480e+02 4.735e+02
 1.536e+03 4.350e+01 1.020e+02 3.050e+01 2.320e+02 7.500e+01 8.650e+01
 1.560e+02 2.515e+02 2.000e+02 1.150e+02 1.175e+02 1.335e+02 1.095e+02
 4.900e+01 9.250e+01 1.065e+02 8.450e+01 1.510e+02 3.520e+02 7.450e+01
 1.400e+02 6.100e+02 1.780e+02 1.350e+02 5.760e+02 6.050e+01 7.500e+00
 7.600e+01 5.450e+01 8.300e+01 1.250e+02 2.350e+02 3.950e+01 1.420e+02
 1.225e+02 1.045e+02 6.600e+01 1.540e+02 1.840e+02 1.165e+02 5.950e+02
 1.315e+02 7.100e+01 1.260e+02 8.700e+01 1.480e+02 3.350e+01 3.400e+02
 1.255e+02 1.575e+02 1.185e+02 3.250e+01 1.595e+02 1.800e+02 8.660e+02
 3.920e+02 6.415e+02 1.152e+03 2.570e+02 1.088e+03 1.024e+03 3.680e+02
 5.900e+01 4.600e+01 2.350e+01 2.195e+02 5.100e+01 1.130e+02 5.800e+01
 1.445e+02 1.295e+02 4.140e+02 6.550e+01 6.525e+02 3.490e+02 5.650e+01
 7.700e+01 4.450e+01 1.450e+01 2.020e+02 2.050e+01 8.250e+01 1.600e+02
 5.040e+02 6.220e+02 1.110e+02 5.250e+01 2.550e+01 5.600e+02 9.900e+01
 1.465e+02 2.300e+02 1.220e+02 2.440e+02 4.230e+02 1.770e+02 1.370e+02
 7.050e+01 1.090e+02 3.800e+02 2.700e+02 1.060e+02 1.520e+02 5.550e+01
 4.130e+02 8.150e+01 1.340e+02 1.010e+02 3.900e+02 5.050e+01 9.150e+01
 6.250e+01 3.220e+02 5.150e+01 5.545e+02 9.100e+01 6.650e+01 1.270e+02
 1.275e+02 2.110e+02 6.850e+01 6.350e+01 1.580e+02 2.835e+02 1.990e+02
 4.250e+01 3.750e+01 7.350e+01 2.900e+02 3.650e+02 1.075e+02 1.140e+02
 2.080e+02 9.300e+01 3.280e+02 2.720e+02 4.260e+02 6.950e+01 1.310e+02
 1.395e+02 4.800e+02 2.745e+02 8.850e+01 1.190e+02 2.755e+02 3.180e+02
 4.150e+01 1.665e+02 1.680e+02 4.530e+02 6.150e+01 4.080e+02 6.100e+01
 2.055e+02 5.155e+02 1.285e+02 7.680e+02 3.850e+02 2.050e+02 3.480e+02
 1.025e+02 8.350e+01 2.240e+02 2.500e+02 5.320e+02 8.160e+02 1.408e+03
 6.965e+02 2.980e+02 2.048e+03 2.176e+03 1.125e+02 6.720e+02 1.590e+02
 1.850e+02 2.368e+03 1.490e+02 2.960e+02 4.960e+02 1.460e+02 3.360e+02
 1.865e+02 4.690e+02 3.540e+02 1.204e+03 8.050e+02 9.600e+02 1.280e+03
 4.000e+02 2.120e+02 5.440e+02 1.170e+02 2.085e+02 4.640e+02 1.240e+02
 1.630e+02 2.600e+02 2.550e+02 4.715e+02 1.970e+02 7.650e+01 1.210e+02
 2.100e+02 2.400e+02 2.800e+02 1.610e+02 5.850e+01 1.030e+02 4.720e+02
 1.245e+02 7.950e+01 3.670e+02 6.750e+01 8.960e+02 4.190e+02 2.220e+02
 2.450e+02 8.550e+01 3.650e+01 3.300e+02 1.730e+02 3.125e+02 7.040e+02
 8.220e+02 4.550e+01 2.075e+02 2.750e+02 1.625e+02 1.145e+02 5.020e+02
 5.935e+02 2.200e+02 9.450e+01 4.480e+02 3.130e+02 3.450e+02 2.230e+02
 2.430e+02 8.100e+01 2.160e+02 1.860e+02 2.010e+02 1.215e+02 7.550e+01
 1.365e+02 1.380e+02 7.750e+01 3.475e+02 1.815e+02 9.400e+01 2.680e+02
 1.635e+02 1.235e+02 1.525e+02 5.200e+02 1.505e+02 5.840e+02 3.940e+02
 2.480e+02 9.650e+01 1.435e+02 9.950e+01 1.180e+02 1.640e+02 4.590e+02
 3.585e+02 4.030e+02 3.420e+02 1.385e+02 9.550e+01 3.760e+02 1.585e+02
 7.100e+02 2.840e+02 7.280e+02 1.835e+02 2.640e+02 3.150e+01 1.055e+02
 6.120e+02 2.375e+02 3.140e+02 1.290e+02 2.125e+02 6.640e+02 3.525e+02
 4.650e+01 5.750e+01 7.400e+02 2.295e+02 3.630e+02 2.380e+02 1.070e+02
 6.880e+02 4.110e+02 4.670e+02 1.695e+02 2.915e+02 6.580e+02 2.760e+02
 1.085e+02 2.950e+02 1.935e+02 7.120e+02 2.455e+02 1.470e+02 2.270e+02
 4.040e+02 5.580e+02 4.285e+02 2.190e+02 6.480e+02 1.955e+02 1.410e+02
 7.440e+02 5.080e+02 3.080e+02 1.425e+02 4.700e+02 9.520e+02 5.950e+01
 6.330e+02 5.610e+02 2.780e+02 1.720e+02 2.115e+02 6.240e+02 3.115e+02
 1.685e+02 7.200e+02 1.100e+03 9.050e+01 7.080e+02 4.965e+02 3.395e+02
 1.820e+02 3.100e+02 1.160e+02 5.920e+02 1.775e+02 2.360e+02 3.040e+02
 8.440e+02 1.058e+03 6.975e+02 5.365e+02 4.360e+02 1.375e+02 3.960e+02
 6.000e+02 2.090e+02 1.110e+03 4.335e+02 6.780e+02 8.320e+02 1.016e+03
 1.535e+02 2.520e+02 7.340e+02 6.635e+02 3.990e+02 1.495e+02 1.390e+02
 2.920e+02 1.305e+02 4.600e+02 6.575e+02 8.420e+02 2.940e+02 2.955e+02
 9.700e+02 4.850e+01 1.985e+02 3.790e+02]


Unique values in 'TOTAL_TURNOVER':
[1118.     40.     12.   ...  551.04 1149.01  965.46]


Unique values in 'DIVIDENDS_PAID':
[ 443.55    0.      9.5  ... 3166.87 1660.16 2338.3 ]


Unique values in 'GROSS_MARGIN':
[271.25427545  40.           2.04171954 ...  38.77048106  73.65946662
  26.89633542]


Unique values in 'TICKETS':
[ 288    1    5 ... 3481 2175 3301]

In [13]:
# Mapping for converting days of the week from names to numbers as specified
day_of_week_mapping = {
    'Fri': 6, 'Sat': 7, 'Sun': 8,
    'Mon': 2, 'Tue': 3, 'Wed': 4, 'Thu': 5
}

# Apply the mapping to convert 'DAY_OF_WEEK' column
df['DAY_OF_WEEK'] = df['DAY_OF_WEEK'].map(day_of_week_mapping)

# Verify the conversion by checking the unique values in 'DAY_OF_WEEK' column
df.head()

,DATE_DIM,DAY_OF_WEEK,BET_ACCOUNT_NUM_HASH,AGE,AGE_BAND,GENDER,TENURE_IN_DAYS,RESIDENTIAL_STATE,FOB_RACING_TURNOVER,FOB_SPORT_TURNOVER,PARI_RACING_TURNOVER,PARI_SPORT_TURNOVER,TOTAL_TURNOVER,DIVIDENDS_PAID,GROSS_MARGIN,TICKETS
0,2021-01-01,6,13154,67.0,65+,M,11846,WA,37.0,0.0,1081.0,0.0,1118.0,443.55,271.254275,288
1,2021-01-01,6,18379,54.0,45-54,M,1884,WA,40.0,0.0,0.0,0.0,40.0,0.00,40.000000,1
2,2021-01-01,6,559232,63.0,55-64,M,2866,WA,0.0,0.0,12.0,0.0,12.0,9.50,2.041720,5
3,2021-01-01,6,698904,69.0,65+,M,2100,WA,0.0,0.0,1223.5,0.0,1223.5,267.91,245.117147,40
4,2021-01-01,6,762921,67.0,65+,M,4766,WA,0.0,0.0,17.5,0.0,17.5,0.00,3.504075,5

## 2.6 Dealing with Negative

In [14]:
shape_before = df.shape

# Removing rows with negative values in FOB_SPORT_TURNOVER
condition = (
    (df['FOB_SPORT_TURNOVER'] >= 0) &
    (df['FOB_RACING_TURNOVER'] >= 0) &
    (df['PARI_RACING_TURNOVER'] >= 0) &
    (df['PARI_SPORT_TURNOVER'] >= 0) &
    (df['TOTAL_TURNOVER'] >= 0) &
    (df['DIVIDENDS_PAID'] >= 0)
)

df = df[condition]
# Check the shape of the data before and after removal to confirm the change
shape_after = df.shape

shape_before, shape_after

((12364101, 16), (12363655, 16))

In [15]:
rows_removed = shape_before[0]-shape_after[0]
rows_removed

446

## 2.7 Dealing with Time Features

In [16]:
# Convert DATE_DIM to datetime format
df['DATE_DIM'] = pd.to_datetime(df['DATE_DIM'])
# Tạo cột 'Week' và 'Month'
df['Week'] = df['DATE_DIM'].dt.isocalendar().week
df['Month'] = df['DATE_DIM'].dt.month
df['Year'] = df['DATE_DIM'].dt.year
# Convert DATE_DIM to datetime format
df['DATE_DIM'] = df['DATE_DIM'].dt.date
# Check the conversion by displaying the dtype of DATE_DIM
df['DATE_DIM'].dtype

df.head()

,DATE_DIM,DAY_OF_WEEK,BET_ACCOUNT_NUM_HASH,AGE,AGE_BAND,GENDER,TENURE_IN_DAYS,RESIDENTIAL_STATE,FOB_RACING_TURNOVER,FOB_SPORT_TURNOVER,PARI_RACING_TURNOVER,PARI_SPORT_TURNOVER,TOTAL_TURNOVER,DIVIDENDS_PAID,GROSS_MARGIN,TICKETS,Week,Month,Year
0,2021-01-01,6,13154,67.0,65+,M,11846,WA,37.0,0.0,1081.0,0.0,1118.0,443.55,271.254275,288,53,1,2021
1,2021-01-01,6,18379,54.0,45-54,M,1884,WA,40.0,0.0,0.0,0.0,40.0,0.00,40.000000,1,53,1,2021
2,2021-01-01,6,559232,63.0,55-64,M,2866,WA,0.0,0.0,12.0,0.0,12.0,9.50,2.041720,5,53,1,2021
3,2021-01-01,6,698904,69.0,65+,M,2100,WA,0.0,0.0,1223.5,0.0,1223.5,267.91,245.117147,40,53,1,2021
4,2021-01-01,6,762921,67.0,65+,M,4766,WA,0.0,0.0,17.5,0.0,17.5,0.00,3.504075,5,53,1,2021

# IV. DATA STANDARDIZING & NORMALIZATION

In [30]:
df1 = df.copy()

In [31]:
from sklearn.preprocessing import RobustScaler

# Các cột cần áp dụng Robust Scaler
columns_to_scale = ['FOB_RACING_TURNOVER', 'FOB_SPORT_TURNOVER', 'PARI_RACING_TURNOVER',
                    'PARI_SPORT_TURNOVER', 'TOTAL_TURNOVER', 'DIVIDENDS_PAID', 'TICKETS',
                    'AGE', 'TENURE_IN_DAYS']

# Khởi tạo RobustScaler
scaler = RobustScaler()

# Áp dụng Robust Scaler cho các cột
df1[columns_to_scale] = scaler.fit_transform(df1[columns_to_scale])

In [34]:
df1['AGE_BAND'].unique()

array(['65+', '45-54', '55-64', '25-34', '35-44', '18-24', 'Unknown'],
      dtype=object)

In [32]:
gender_mapping = {'M': 1, 'F': 0, 'U': 2}
df1['GENDER'] = df1['GENDER'].map(gender_mapping)

In [33]:
res_mapping = {'WA': 1, 'OTH': 0}
df1['RESIDENTIAL_STATE'] = df1['RESIDENTIAL_STATE'].map(res_mapping)

In [35]:
ageband_mapping = {'Unknown': 0, '18-24': 1, '25-34': 2, '35-44': 3, '45-54': 4, '55-64': 5, '65+': 6}
df1['AGE_BAND'] = df1['AGE_BAND'].map(ageband_mapping)

In [37]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12363655 entries, 0 to 12364100
Data columns (total 19 columns):
 #   Column                Dtype
---  ------                -----
 0   DATE_DIM              object
 1   DAY_OF_WEEK           int64
 2   BET_ACCOUNT_NUM_HASH  int64
 3   AGE                   float64
 4   AGE_BAND              int64
 5   GENDER                int64
 6   TENURE_IN_DAYS        float64
 7   RESIDENTIAL_STATE     int64
 8   FOB_RACING_TURNOVER   float64
 9   FOB_SPORT_TURNOVER    float64
 10  PARI_RACING_TURNOVER  float64
 11  PARI_SPORT_TURNOVER   float64
 12  TOTAL_TURNOVER        float64
 13  DIVIDENDS_PAID        float64
 14  GROSS_MARGIN          float64
 15  TICKETS               float64
 16  Week                  UInt32
 17  Month                 int32
 18  Year                  int32
dtypes: UInt32(1), float64(10), int32(2), int64(5), object(1)
memory usage: 1.7+ GB

In [50]:
target_cols = ['DATE_DIM', 'Week']
df1 = df1.drop(target_cols, axis=1)

In [52]:
from sklearn.decomposition import PCA
import pandas as pd


# Khởi tạo PCA với số thành phần chính là 2
pca = PCA(n_components=7)

# Áp dụng PCA vào dữ liệu
principal_components = pca.fit_transform(df1)

# Tạo DataFrame mới từ các thành phần chính
df_pca = pd.DataFrame(data=principal_components, columns=['PC1', 'PC2','PC3','PC4','PC5', 'PC6', 'PC7'])

# In ra DataFrame mới sau khi áp dụng PCA
print(df_pca)

MemoryError: Unable to allocate 1.57 GiB for an array with shape (17, 12363655) and data type float64

# V. TRAIN - VALID - TEST SPLIT

CHia dữ liệu ra 9:0,5:0,5

# VI. FORECASTING

DÙNG DEEP LEARNING ĐỂ LÀM VÀ DỰ ĐOÁN

# VII. EVALUATION